* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* shared styles */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn {
    background-color: #FD6E0A;
    border: none;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

/* main styles */
header {
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #000; */
}
.logo h2 {
    font-size: 45px;
    font-weight: 900;
}
nav .menu {
    display: flex;
    gap: 51px;
    align-items: center;
}
nav .menu a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}


.color-orange {
    color: #FD6E0A;
}